@font-face {
  font-family: 'starwars';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/STARWARS.woff') format('woff');
}

html {
  font-size: 100%;
  font-family: 'starwars';
  letter-spacing: .07em;
  background-image: url('./images/bg.jpg')
}

body {
  margin: 0;
  font-family: 'starwars';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
